# dependencies
node_modules/
.pnp
.pnp.js

# build / target
target/
build/

# env files
.env
.env.*
!.env.example

# OS files
.DS_Store

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

backend/memory-portal/src/main/resources/application.properties

# uploads
uploads/

# nested repo (ignore it completely)
memories/
